.App {
    text-align: center;
    align-content: center;
  }
  
  #Main {
    background-color: #9D5555;
    margin: 0% auto;   
    text-align: center;     
    height: 90%;   
    width: 90%;
    align-content: center;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    
  }
  
  .container{
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    background-color: #602121;
  
  }
  .FeedbackName{
    justify-content: start;
    text-align: start;
    padding-left: 55px;
  }
  .TextArea {
    padding: 0;
  }
  .submit{
    width: 90%;
    display: flex;
    flex-direction: column;  
    background-color: #9D5555;
    margin-right: auto;
    margin-left: auto;
    height: 50% !important;
    color: white;
    padding: 10%;
    border-radius: 20%;
    resize: none;
    border: none;
    font-size: smaller;
    
  }
  
  #Submit{
    text-align: right;
    padding: 7%;
    border-radius: 0px 0px 50% 15%;
  
  }
  
  h1{
    color: white;
    font-weight: lighter;

  }

  h2{
    color: white;
    font-weight: lighter;
    font-style: italic;
    padding: 5px;
    align-content: flex-start;
    font-size: large;
  }
  
  
  .Submitbutton {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: #602121;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    width: 20%;
    height: auto;
    display: -moz-stack;
  }
  
  hr{
    border: none; 
      height: 2px; 
      background-color: #602121; 
      margin: 20px 0; 
  }